body {

    background-color: black;

}

h1, h2, h3, h4, h5, h6 {

    text-align: center;
    color: white;

}

p {

    color: rgb(255, 0, 0);
    
}

label {

    color: white;

}

button {

    background-color: blue;
    border-color: blue;
    border-radius: 10px;
    border-width: 6px;
    color: white;
}
