body {

    background-color: black;

}

h1 {

    color: rgb(64, 115, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p {

    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
fieldset {

    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {

    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {

    color: white;

}

.button_slide{
        color: #ffffff;
        background-color: rgb(255, 0, 0);
        border: 2px solid rgb(16, 2, 216);
        border-radius: 20px;
        padding: 13px 30px;
        display: inline-block;
        font-family:'Times New Roman', Times, serif;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 rgb(16, 2, 216);
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.5s;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px rgb(16, 2, 216);
}