body {

    background-color: black;

}
h1{

    color: white;

}

h2 {

    color: red;

}
table, th, td {

    border: 1px solid white;
    border-collapse: collapse;
    
}

td {

    color: white;

}

th {

    color:rgb(9, 255, 0);

}